.login_page {
    width: 50%;
    padding: 2%;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 60%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .bottom{
     position: relative;
     max-width: 90%;
     margin: 0 auto 100px;
     text-align: center;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
 .form textarea{
     font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
   white-space: nowrap;
 } 
 
 .btn {
     background: #182e85;
     background-image: -webkit-linear-gradient(top, #182e85, #2b76b8);
     background-image: -moz-linear-gradient(top, #182e85, #2b76b8);
     background-image: -ms-linear-gradient(top, #182e85, #2b76b8);
     background-image: -o-linear-gradient(top, #182e85, #2b76b8);
     background-image: linear-gradient(to bottom, #182e85, #2b76b8);
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     font-family: Arial;
     color: #ffffff;
     font-size: 16px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
   }
   
   .btn:hover {
     background: #3cb0fd;
     background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
     background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
     text-decoration: none;
   }